@charset "utf-8";
/*------------------------------------------------------------*/
section h2{
    margin-top: 100px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.event_menu{
    width: 98%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.event_menu a{
    padding: 5px 10px;
    border: 1px solid #e4e4e4;
    font-size: 14px;
}
.event_menu a:hover{
    background-color: #000000;
    color: #ffffff;
}
/*------------------------------------------------------------*/
.all_content ul, .event_content ul{
    width: 90%;
    margin: 0 auto;
}
.all_content ul li, .event_content ul li{
    float: left;
    width: 24%;
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.all_content li:nth-child(4n+1), .event_content li:nth-child(4n+1){
    margin-left: 0;
}
.shop_img{
    position: relative;
    width: 100%;
    border: 1px solid #ebe9e9;
}
.shop_img img:nth-child(1){
    width: 100%;
}
.shop_img img:nth-child(2){
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.event_content ul > li:hover .shop_img img:nth-child(2){
    display: block;
}
.all_content ul > li:hover .shop_img img:nth-child(2){
    display: block;
}
.shop_text{
    margin-top: 30px;
}
.shop_text p:nth-child(1){
    font-size: 15px;
}
.shop_text > span{
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #e2e1e1;
}
.shop_text p:nth-child(3){
    font-weight: 600;
}
.shop_text p:nth-child(3) span{
    font-weight: 400;
    font-size: 13px;
    margin-right: 2%;
    text-decoration: line-through;
    color: #b3b1b1;
}
.all_content > p, .event_content > p{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
.event_title{
    width: 80%;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.event_title p:nth-child(1){
    font-size: 18px;
    margin-bottom: 8px;
}
.event_title p:nth-child(2){
    font-size: 14px;
    color: #b3b1b1;
}
.event_content, .all_more, .event_more{
    display: none;
}
/*------------------------------------------------------------*/
@media screen and (max-width: 550px){
    }
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/