@charset "utf-8";
/*------------------------------------------------------------*/
section h2{
    margin-top: 150px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}
.how_title{
    text-align: center;
}
.how_title p:nth-child(2){
    margin: 50px 0;
    font-size: 36px;
    line-height: 44px;
}
.how_title p:nth-child(3){
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 26px;
}
.how_title a{
    padding: 10px 30px;
    border: 1px solid #d6d6d6;
}
.how_title a:hover{
    background-color: #000000;
    color: #ffffff;
}
.how_content ul{
    width: 60%;
    margin: 150px auto;
}
.how_content > ul > li{
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
}
.how_content ul li p{
    margin-left: 30px;
}
.notice{
    font-weight: 600;
}
.que{
    position: relative;
    cursor: pointer;
}
.first_content > li .notice_title, .how_ct > li .notice_title{
    color: #000000;
}
.que.on>p{
    font-weight: bold;
    color: #106b0d; 
}
.que > span{
    margin-left: 20px;
    color: #888888;
}
.que a{
    margin-left: 25px;
}
.anw {
    display: none;
    overflow: hidden;
    background-color: #faf5f5;
    padding: 27px 0;
}
.anw p{
    margin: 20px 0;
    line-height: 22px;
}
.anw form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.anw input{
    width: 200px;
    height: 30px;
    outline-color: #d6d6d6;
    margin: 0 20px;
}
.anw a{
    color: #888888;
    padding: 5px 10px;
    border: 1px solid #d6d6d6;
}
.number{
    margin-top: 100px;
    margin-bottom: 150px;
}
.number ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: #000000;
}
.how_ct{
    display: none;
}
/*------------------------------------------------------------*/
@media screen and (max-width: 550px){
    .how_content ul{width: 90%;}
}
@media screen and (max-width: 768px){
    .how_content ul{width: 90%;}
}
@media screen and (max-width: 1024px){
    .how_content ul{width: 90%;}
}
@media screen and (max-width: 1440px){
    .how_content ul{width: 90%;}
}