@charset "utf-8";
/*------------------------------------------------------------*/
.detail_title h2{
    margin-top: 150px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}
.check_detail{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.check_detail a{
    padding: 10px 20px;
    border: 1px solid #d6d6d6;
}
.check_detail a:nth-child(1){
    padding: 10px 60px;
    background-color: #000000;
    color: #ffffff;
}
.check_detail a:nth-child(2){
    margin-left: 10px;
}
.check_detail a:hover{
    background-color: #000000;
    color: #ffffff;
}
section{
    width: 100%;
    margin-top: 120px;
}
.ingredient ul, .check ul{
    width: 80%;
    margin: 0 auto;
}
.ingredient > ul > li, .check > ul > li{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ingredient > ul > li > a, .check > ul > li > a{
    margin-left: 20px;
}
.ingredient > ul > li > a > span, .check > ul > li > a > span{
    margin-right: 40px;
    color: #b4b4b4;
}
.ingredient > ul > li:nth-child(1) span, .ingredient > ul > li:nth-child(2) span,.ingredient > ul > li:nth-child(3) span{
    margin-right: 33px;
    color: #000000;
    font-weight: 600;
}
.number, .check_number{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}
.number ul, .check_number ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
    color: #000000;
}
/*------------------------------------------------------------*/
.check, .ingredient_ct, .check_ct{
    display: none;
}
/*------------------------------------------------------------*/