@charset "utf-8";
/*------------------------------------------------------------*/
section h2{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}
.review_click{
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.review_click img:nth-child(1){
    margin-left: 8px;
}
.photo_review > ul, .photo_more > ul{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.photo_review > ul > li, .photo_more > ul > li{
    float: left;
    width: 16%;
    margin-left: 10px;
}
.photo_review > ul > li:nth-child(6n+1), 
.photo_more > ul > li:nth-child(6n+1){
    margin-left: 0px;
}
.photo_img{
    width: 100%;
    border: 1px solid #d6d6d6;
}
.photo_img img{
    width: 100%;
}
.photo_text{
    margin: 20px 0;
    margin-bottom: 50px;
}
.photo_text p{
    text-align: center;
    margin: 7px 0;
    font-size: 12px;
    color: #adadad;
}
.photo_text p:nth-child(1){
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.photo_review > p{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
/*------------------------------------------------------------*/
.mo_only{display: none;}
.text_review > ul{
    width: 70%;
    margin: 0 auto;
}
.text_review > ul > li{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9;
}
.text_review > ul > li > p:nth-child(2){
    width: 80%;
    margin: 0 10px;
}
.text_review > ul > li > p:nth-child(2) span{
    font-weight: 600;
    color: #adadad;
}
.text_review, .photo_more, .text_ct{
    display: none;
}
/*------------------------------------------------------------*/
.number ul{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 28%;
}
/*------------------------------------------------------------*/
@media screen and (max-width: 550px) {
    .photo_review > ul > li, .photo_more > ul > li{width: 48%;}
    .photo_review > ul > li:nth-child(6n+1){margin-left: 10px;}
    .photo_more > ul > li:nth-child(6n+1){margin-left: 10px;}
    .photo_review > ul > li:nth-child(2n+1){margin-left: 0px;}
    .photo_more > ul > li:nth-child(2n+1){margin-left: 0px;}
    .photo_text p:nth-child(1){font-size: 12px;}
    .photo_review > p{margin-top: 50px;}
    .mo_only{display: block;}
    .number ul{width: 50%;}
}
/*------------------------------------------------------------*/
@media screen and (min-width: 551px) and (max-width: 768px) {
    .photo_review > ul > li, .photo_more > ul > li{width: 48%;}
    .photo_review > ul > li:nth-child(6n+1){margin-left: 10px;}
    .photo_more > ul > li:nth-child(6n+1){margin-left: 10px;}
    .photo_review > ul > li:nth-child(2n+1){margin-left: 0px;}
    .photo_more > ul > li:nth-child(2n+1){margin-left: 0px;}
    .photo_text p:nth-child(1){font-size: 13px;}
    .photo_review > p{margin-top: 50px;}
    .mo_only{display: block;}
    .number ul{width: 50%;}
}
/*------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photo_review > ul > li, .photo_more > ul > li{width: 32%;}
    .photo_review > ul > li:nth-child(6n+1){margin-left: 10px;}
    .photo_more > ul > li:nth-child(6n+1){margin-left: 10px;}
    .photo_review > ul > li:nth-child(3n+1){margin-left: 0px;}
    .photo_more > ul > li:nth-child(3n+1){margin-left: 0px;}
    .photo_text p:nth-child(1){font-size: 13px;}
    .photo_review > p{margin-top: 50px;}
    .mo_only{display: block;}
    .number ul{width: 50%;}
}
/*------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .photo_review > ul > li, .photo_more > ul > li{
        width: 15.7%; height: 300px;}
    .photo_text p:nth-child(1){font-size: 12px;}
    .photo_review > p{margin-top: 50px;}
    .number ul{width: 50%;}
}