@charset "utf-8";
/*------------------------------------------------------------*/

.detail_top{
    display: flex;
    width: 80%;
    margin: 150px auto;
}
.detail_img{
    width: 50%;
    height: 700px;
    border: 1px solid #dbdbdb;
    background-color: #123456;
}

/*------------------------------------------------------------*/
.detail_top > div:nth-child(2){
    width: 40%;
    margin-left: 100px;
}
.detail_text > span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 35px;;
    background-color: #000000;
}
.detail_text p:nth-child(2){
    width: 10%;
    padding: 10px 0;
    margin-left: 548px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}
.detail_text p:nth-child(3){
    margin: 50px 0;
    font-size: 30px;
    font-weight: 400;
}
.detail_text p{
    margin-bottom: 25px;
    font-size: 14px;
}
.detail_text p:nth-child(4) span{
    margin-bottom: 15px;
    text-decoration: line-through;
    font-size: 18px;
    margin-left: 50px;
    color: #c2c2c2;
}
.detail_text p:nth-child(5) span{
   font-size: 26px;
   font-weight: 600;
   margin-left: 65px;
}
.detail_text p:nth-child(6) span{
    margin-left: 50px;
}
.detail_text p:nth-child(7) span{
    margin-left: 65px;
}
/*------------------------------------------------------------*/
.order{
    display: flex;
    margin-top: 50px;
    margin-left: 180px;
    width: 70%;
    height: 80px;
    border: 1px solid #cecece;
    
}
.order_btn{
    display: flex;
    margin-top: 20px;
}
.order_updown{
    width: 24px;
    text-align: center;
}
#result{
    width: 35px;
    height: 15px;
    padding: 13px 0;
    text-align: center;
    border: 1px solid #b6b6b6;
    border-right: none;
}
.button{
    border: 1px solid #b6b6b6;
    background-color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
}
.button:nth-child(1){
    border-bottom: 0px;
}
.order p:nth-child(1){
    width: 55%;
    padding: 33px 0 0 20px;
}
.order p:nth-child(3){
    font-size: 14px;
    font-weight: 600;
    margin: 32px 15px;
}
.detail_text p:nth-child(9){
    width: 33%;
    margin: 20px 0 60px 405px;
}
.detail_text p:nth-child(9) strong{
    font-size: 24px;
    margin: 0 10px;
}
.detail_text a:nth-child(10){
    margin: 60px 0;
    padding: 20px 268px;
    font-size: 18px;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
}
.shopping{
    width: 100%;
    margin-top: 50px;
}
.shopping a{
    border: 1px solid #b6b6b6;
    padding: 20px 118px;
}
/*------------------------------------------------------------*/
.detail_btn{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}
.btn{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}
.btn p{
    padding: 10px 67px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
}
/*------------------------------------------------------------*/