@charset "utf-8";
/*------------------------------------------------------------*/
section h2{
    margin: 100px 0 50px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.shop_menu{
    width: 80%;
    margin: 50px auto;
    
    margin-bottom: 80px;
    text-align: center;
}
.shop_menu ul{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}
.shop_menu ul li{
    width: 170px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #ebe9e9;
    font-size: 15px;
    cursor: pointer;
}
.shop_menu ul li:hover{
    background-color: #000000;
    color: #ffffff;
}
/*------------------------------------------------------------*/
.all_content > ul, .category_tab ul, .all_more > ul{
    width: 90%;
    margin: 0 auto;
}
.all_content > ul > li, .category_tab > ul > li, .all_more > ul > li{
    float: left;
    width: 24%;
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.all_content > ul > li:nth-child(4n+1), 
.category_tab > ul > li:nth-child(4n+1), 
.all_more > ul > li:nth-child(4n+1){
    margin-left: 0;
}

.shop_img{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ebe9e9;
}
.shop_img img:nth-child(1){
    width: 100%;
}
.shop_img img:nth-child(2){
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.shop_text{
    margin-top: 30px;
}
.shop_text p:nth-child(1){
    font-size: 15px;
}
.shop_text > span{
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #e2e1e1;
}
.shop_text p:nth-child(3){
    font-weight: 600;
}
.shop_text p:nth-child(3) span{
    font-weight: 400;
    font-size: 13px;
    margin-right: 2%;
    text-decoration: line-through;
    color: #b3b1b1;
}

.all_content ul > li:hover .shop_img img:nth-child(2), 
.category_tab ul > li:hover .shop_img img:nth-child(2){
    display: block;
}
/*------------------------------------------------------------*/
.category_ct, .all_more{
    display: none;
}
.category_ct > p{
    
    text-align: center;
}
.all_content > p{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}