@charset "utf-8";
/*------------------------------------------------------------*/
section h2{
    margin-top: 130px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}
.story_title{
    text-align: center;
}
.story_title p:nth-child(1){
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
}
.story_title p:nth-child(2){
    margin-top: 40px;
    font-size: 16px;
    line-height: 22px;
}
.story_top_img{
    width: 90%;
    height: 600px;
    margin: 70px auto;
    background-image: url("../img/main/story_back.png");
    background-position: 0% 15%;
    background-size: cover;
}
.story_middle_img{
    width: 90%;
    height: 600px;
    margin: 70px auto;
    background-image: url("../img/main/middle.jpg");
    background-position: 0% 45%;
    background-size: cover;
}
.story_img{
    width: 90%;
    height: 600px;
    margin: 70px auto;
    background-image: url("../img/main/love.jpg");
    background-position: 0% 75%;
    background-size: cover;
}
.story_text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.story_text h3 span{
    color: #d9d9d9;
}
.story_text h3{
    margin-bottom: 50px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
}
.story_text p{
    margin-bottom: 130px;
    font-size: 16px;
    line-height: 30px;
}
.color_change{
    color: #21b121;
}
/*------------------------------------------------------------*/
@media screen and (max-width: 768px){
    .story_top_img{height: 300px;}
    .story_middle_img{height: 300px;}
    .story_img{height: 300px;}
}